* {
  margin: 0;
  padding: 0;
}

:root {
  --color-header: #134679;
}

/* estilos header */

.contenedor-header {
  position: relative;
  width: 100%;
  height: 200px;
  background: var(--color-header);
  display: flex;
}

.contenedor-header img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.contenedor-header h1 {
  z-index: 1;
  position: absolute;
  top: 30%;
  left: 45%;
  color: #fff;
}

/* estilos contenido  */

.contenedor-contenido {
  width: 100%;
  height: 1200px;
}

/*Estilos del footer*/

footer {
  width: 100%;
  height: 200px;
  background: var(--color-header);
}

.contenedor-redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
  height: auto;
  margin-left: 5%;
}

.contenedor-redes h2 {
  color: #fff;
  margin-top: 20px;
}

.redes {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.fa-facebook-square,
.fa-instagram,
.fa-twitter {
  color: #fff;
  font-size: 30px;
  padding: 5px;
}
