* {
  margin: 0;
  padding: 0;
}

:root {
  --color-header: #134679;
}

@font-face {
  font-family: "halo";
  src: url("../fonts/halo/Halo.ttf") format("truetype");
}

/* estilos header */

.contenedor-header {
  position: absolute;
  width: 100%;
  height: 280px;
  background: var(--color-header);
  background-image: url(../img/header.jpg);
  background-size: 100%;
  background-position: top;
  display: flex;
  overflow: hidden;
}

.contenedor-header h1 {
  z-index: 1;
  position: absolute;
  font-family: halo;
  font-size: 70px;
  top: 40%;
  left: 30%;
  color: #fff;
}

/* estilos contenido  */

.contenedor-contenido {
  width: 100%;
  height: 1200px;
}

/*Estilos del footer*/

footer {
  width: 100%;
  height: 200px;
  background: var(--color-header);
}
