* {
  margin: 0;
  padding: 0;
}

:root {
  --color-header: #134679;
}

.contenedor-header {
  position: relative;
  width: 100%;
  height: 300px;
  background: var(--color-header);
  display: flex;
}

.contenedor-header img {
  position: relative;
}

/*Estilos del footer*/

footer {
  width: 100%;
  height: 200px;
  background: #acb158;
}
